{% extends "admin_panel/admin_deshboard.html" %}
{% block body %}
      <center>
         <!-- <h2>HTML Table</h2> -->
         <div style="width: 50vw; height: auto;">
            <table class="table table-striped table-responsive">
               <thead class="thead-dark">
                 <tr>
                    <th>product_id</th>
                    <th>category</th>
                    <th>product_name</th>
                    <th>material</th>
                    <th>image</th>
                    <th>product_price</th>
                    <th>product_weight</th>
                    <th>product_quantity</th>
                    <th>product_color</th>
                    <th scope="col">delete </th>
                    <th scope="col">update </th>
                  </tr>
                  {% for vtwork in product %}
                 <tr>
                    <td>{{vtwork.product_id}}</td>
                    <td>{{vtwork.category.category_name}}</td>
                    <td>{{vtwork.product_name}}</td>
                    <td>{{vtwork.material}}</td>
                    <td>{{vtwork.image}}</td>
                    <td>{{vtwork.product_price}}</td>
                    <td>{{vtwork.product_weight}}</td>
                    <td>{{vtwork.product_quantity}}</td>
                    <td>{{vtwork.product_color}}</td>
                    <td>
                       <p class="table_cell">
                          <a href="/delete_product/{{vtwork.product_id}}">
                             <span class="icon"><i class="bi-x-circle-fill">delete</i></span>
                           </a>
                        </p>
                     </td>
                     <td>
                        <p class="table_cell">
                           <a href="/update_product/{{vtwork.product_id}}">
                              <span class="icon"><i class="bi-x-circle-fill">update</i></span>
                            </a>
                         </p>
                      </td>
                 </tr>
                 {% endfor %}
                 <a href="{% url 'product_add' %}"><button type="button" class="btn btn-outline-primary">Add</button></a>
        </div>
      </center>

      {% endblock body %}