<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Form</title>
</head>

<body>

    <h1>Add a New Product</h1>
    <form method="POST" action="{% url 'employee' %}">
        {% csrf_token %}

        

        <label for="category">choose work :</label>
        <select name="work">
            {% for i in work_object %}
            <option value="{{i.work_id}}">{{i.work_name}}</option>
            {% endfor %}
        </select><br>

        <label for="category">Enter Employee Name :</label>
        <input type="text" id="category" name="employeename"><br>

        <label for="category">Enter Employee_DOB :</label>
        <input type="date" id="category" name="employeedob"><br>

        <label for="category">Enter contact no.:</label>
        <input type="number" id="category" name="contact"><br>
        
        <label for="category">Enter salary :</label>
        <input type="number" id="category" name="salary"><br>

        <label for="category">Enter Work Experience:</label>
        <input type="text" id="category" name="experience"><br>

        <label for="category">Enter join_date :</label>
        <input type="date" id="category" name="joiningdate"><br>

        <label for="category">Enter leave_date :</label>
        <input type="date" id="category" name="leavedate"><br>
        
        <label for="category">Enter Qualification :</label>
        <input type="text" id="category" name="qualification"><br>

        <input type="submit" value="Submit">
    </form>
    {% if msg %}
    {{msg}}
    {% endif %}

</body>

</html>