<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback Form</title>
</head>

<body>

    <h1>Add feedback</h1>
    <form method="POST" action="{% url 'feedback_add' %}">
        {% csrf_token %}

        <label for="category">Enter Feedback:</label>
        <input type="number" id="category" name="feedback"><br>

        <label for="category">Enter Feedback_date:</label>
        <input type="number" id="category" name="f_date"><br>

        <label for="category">Enter customer_id :</label>
        <input type="text" id="category" name="customer_id"><br>

        

        <input type="submit" value="Submit">
    </form>
    {% if msg %}
    {{msg}}
    {% endif %}

</body>

</html>