<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a product </title>
</head>

<body>

    <h1>Add Production Details </h1>
    <form method="POST" action="{% url 'production_add' %}">
        {% csrf_token %}

        <select name="" id="">
        {% for production in production_object %}
        <option value="{{production.production_id}}">{{production.production.product.product_name}}</option>
        {% endfor %}
    </select>
        <label for="category">Enter Quantity :</label>
        <input type="text" id="category" name="quantity"><br>


        <label for="category">Enter Production_cost :</label>
        <input type="number" id="category" name="productioncost"><br>

        <label for="category">Enter Production_date :</label>
        <input type="date" id="category" name="productiondate"><br>

        <input type="submit" value="Submit">
    </form>
    {% if msg %}
    {{msg}}
    {% endif %}

</body>

</html>