<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Form</title>
</head>

<body>

    <h1>Add a New Product</h1>
    <form method="POST" action="{% url 'sales' %}">
        {% csrf_token %}

        <label for="category">Enter sales_date :</label>
        <input type="date" id="category" name="salesdate"><br>

        <label for="category">Enter product :</label>
        <input type="text" id="category" name="product"><br>

        <label for="category">Enter Quantity:</label>
        <input type="number" id="category" name="quantity"><br>
        
       
        
        

        <input type="submit" value="Submit">
    </form>
    {% if msg %}
    {{msg}}
    {% endif %}

</body>

</html>