<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>work Form</title>
</head>

<body>
    
        <h1>Add a New Product</h1>
        <form method="POST" action=" {% url 'workform' %} " >
            {% csrf_token %}
           
            <label for="category">Enter Work Name :</label>
            <input type="text" id="category" name="workname"><br>

            
            <input type="submit" value="Submit">
        </form>
        {{n}}
    
</body>

</html>