<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delivery Form</title>
</head>

<body>

    <h1>Add a New Product</h1>
    <form method="POST" action="{% url 'deliveryshow' %}">
        {% csrf_token %}

        <label for="category">Choose customer :</label>
        <select name="customer">
            {% for i in customer %}
            <option value="{{i.customer_id}}">{{i.customer_fname}}</option>
            {% endfor %}
        </select><br>

        <label for="category">Enter Address:</label>
        <input type="text" id="category" name="address" values="{{delivery_object.address}}"><br>

        <label for="category">Enter Product:</label>
        <select name="product">
            {% for i in product %}
            <option value="{{i.product_id}}">{{i.product_name}}</option>
            {% endfor %}
        </select><br>


        <label for="category">Enter Delivery_date :</label>
        <input type="date" id="category" name="deliverydate" values="{{delivery_object.d_date}}"><br>

        <label for="category">Choose Employee :</label>
        <select name="employee">
            {% for i in employee %}
            <option value="{{i.emp_id}}">{{i.emp_name}}</option>
            {% endfor %}
        </select><br>
        
        <label for="category">Enter quantity :</label>
        <input type="number" id="category" name="quantity" values="{{delivery_object.quantity}}"><br>
        
        

        <input type="submit" value="Submit">
    </form>
    {% if msg %}
    {{msg}}
    {% endif %}

</body>

</html>