<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Form</title>
</head>

<body>

    <h1>Add a New Product</h1>
    <form method="POST" >
        {% csrf_token %}

        <!--<label for="category">Enter Product :</label>
        <input type="text" id="category" name="productname"><br>-->

        <label for="category">Choose product :</label>
        <select name="product">
            {% for i in product_object %}
            <option value="{{i.product_id}}">{{i.product_name}}</option>
            {% endfor %}
        </select><br>

        

        <label for="category">Enter Quantity :</label>
        <input type="number" id="category" name="quantity" value="{{stock_object.quantity}}"><br>

        <!--<label for="category">Enter Row_material :</label>
        <input type="number" id="category" name="rowmaterial"><br>-->
        <label for="category">Enter material_quantity:</label>
        <input type="text" id="category" name="materialquantity" value="{{stock_object.material_quantity}}" ><br>



        <input type="submit" value="Submit">
    </form>
    {% if msg %}
    {{msg}}
    {% endif %}

</body>

</html>