<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Form</title>
</head>

<body>

    <h1>Billing form</h1>
    <form method="POST" action="{% url 'billing' %}">
        {% csrf_token %}


        <!--<label for="category">Enter Customer:</label>
        <input type="text" id="category" name="customername"><br>-->
        <label for="category">choose customer Name :</label>
        <select name="customer">
            {% for customer in customers_object %}
            <option value="{{customer.customer_id}}">{{customer.customer_fname}}</option>
            {% endfor %}
        </select><br>

        

        <label for="category">Enter Order :</label>
        <input type="number" id="category" name="order" value="{{billing_object.order}}"><br>

        <label for="category">Enter Shipping Charges :</label>
        <input type="number" id="category" name="shippingcharges" value="{{billing_object.shipping_charges}}"><br>
        
        <label for="category">Enter Order Date :</label>
        <input type="date" id="category" name="orderdate" value="{{billing_object.order_date}}"><br>
        
        <label for="category">Enter Total Amount :</label>
        <input type="number" id="category" name="totalamount" value="{{billing_object.total}}"><br>
        
        

        <input type="submit" value="Submit">
        
    </form>
    {% if msg %}
    {{msg}}
    {% endif %}

</body>

</html>