<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Form</title>
</head>

<body>

    <h1>Add a New Product</h1>
    <form method="POST" action="{% url 'employee' %}">
        {% csrf_token %}

        

        <label for="category">choose work :</label>
        <select name="work">
            {% for i in Work %}
            <option value="{{i.work_id}}">{{i.work_name}}</option>
            {% endfor %}
        </select><br>

        <label for="category">Enter Employee Name :</label>
        <input type="text" id="category" name="employeename" value="{{employee_object.emp_name}}"><br>

        <label for="category">Enter Employee_DOB :</label>
        <input type="date" id="category" name="employeedob" value="{{employee_object.emp_dob}}"><br>

        <label for="category">Enter contact no.:</label>
        <input type="number" id="category" name="contact" value="{{employee_object.contact_number}}"><br>
        
        <label for="category">Enter salary :</label>
        <input type="number" id="category" name="salary" value="{{employee_object.emp_salary}}"><br>

        <label for="category">Enter Work Experience:</label>
        <input type="text" id="category" name="experience" value="{{employee_object.work_experience}}"><br>

        <label for="category">Enter join_date :</label>
        <input type="date" id="category" name="joiningdate" value="{{employee_object.emp_joindate}}"><br>

        <label for="category">Enter leave_date :</label>
        <input type="date" id="category" name="leavedate" value="{{employee_object.emp_leavedate}}"><br>
        
        <label for="category">Enter Qualification :</label>
        <input type="text" id="category" name="qualification" value="{{employee_object.qualification}}"><br>

        <input type="submit" value="Submit">
    </form>
    {% if msg %}
    {{msg}}
    {% endif %}

</body>

</html>